@import '/node_modules/modern-normalize/modern-normalize.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+54,7db9e8+100 */
  background: rgb(30, 87, 153);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgb(30, 87, 153) 0%,
    rgb(41, 137, 216) 50%,
    rgb(32, 124, 202) 54%,
    rgb(125, 185, 232) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgb(30, 87, 153) 0%,
    rgb(41, 137, 216) 50%,
    rgb(32, 124, 202) 54%,
    rgb(125, 185, 232) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(30, 87, 153) 0%,
    rgb(41, 137, 216) 50%,
    rgb(32, 124, 202) 54%,
    rgb(125, 185, 232) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contactTitle {
  font-size: 2em;
  font-weight: bold;
}
